.app--main {
    padding-top: 90px;
    width: 100%;
}

.app--wrapper {
    width: 80%;
    margin: 0 auto;
    max-width: 1400px;
    display: inherit;
    justify-content: inherit;
    flex-direction: inherit;
    gap: inherit;

    @media (max-width: 930px) {
        width: 90%;
    }
}
