// variables
$background: #f0f0f0;
$primaryColor: #ff8c60;
$secondaryColor: #ffffff;
$placeholder: #9b9b9b;
$colorText: #2e2e2e;
$shadowButtons: 0px 4px 16px rgba(0, 0, 0, 0.25);
$border-radius: 8px;

// Styles
* {
  margin: 0;
  padding: 0;
}
* + * {
  margin-top: 1rem;
}
:root {
}

// React Legacy Styles
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#hidden {
  display: none;
}
