$background-color: #fff;
$background-color-deg: #dad6d6;
$primary-color: rgb(241, 150, 31);
$primary-color-deg: rgb(234, 185, 99);
$secondary-color: rgb(41, 205, 26);
$secondary-color-deg: rgb(129, 225, 137);