.header--main {
    width: 100%;
    height: 80px;
    margin-bottom: 10px;
    position: fixed;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    z-index: 10;
    transition: 0.6s;
}

.header--sticky {
    height: 70px;
    box-shadow: 0 4px 12px 0 #65676a1a;
}

.header--title {
    font-size: 15px;
    text-transform: uppercase;
    color: $secondary-color;
    font-weight: bolder;
    text-decoration: none;
    cursor: pointer;

    @media (max-width: 280px) {
        font-size: 10px;

        &::before {
            content: " ";
            white-space: pre;
        }
    }

    &:hover {
        text-shadow: 0 0 1px $secondary-color;
    }
}

.header--icon {
    width: 15px;
    color: $secondary-color;
}

.header--button-language,
.header--button-login {
    width: 70px;
    margin: 5px auto;
    border: 0px;
    outline: 0px;
    height: 30px;
    padding: 0px 15px;
    border: 2px solid transparent;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
}

.header--button-language {
    position: absolute;
    right: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    transition: 0.3s;

    &:hover {
        background-color: #f5f5f5;
    }

    @media (max-width: 830px) {
        display: none;
    }
}

.header--button-login {
    border: 2px solid $secondary-color;
    width: 150px;
    color: $secondary-color;
    font-weight: bolder;

    @media (max-width: 830px) {
        display: none;
    }
}

.header--modal-languages {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 10px;
    top: 32px;
    right: 5px;
    width: 120px;
    text-align: start;
    background-color: #fff;
    border: 1px solid #65676a1a;
    box-shadow: 0 0 20px #f5f5f5;
    border-radius: 5px;

    p {
        padding: 10px 15px;
        transition: 0.3s;
        &:hover {
            background-color: #f5f5f5;
        }
    }

    @media (max-width: 830px) {
        display: none;
    }
}

.header--display-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.header--display-left {
    display: flex;
    justify-content: flex-start;
}

.header--display-right {
    display: flex;
    justify-content: flex-end;
}

.header--nav {
    display: flex;
    flex-direction: row;
    color: $primary-color;
}

.header--nav-group {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 70px;
    height: 20px;
    margin: 1px auto;
    border-radius: 10px;

    @media (max-width: 830px) {
        display: none;
    }
}

.header--nav-link {
    cursor: pointer;
    font-size: 13px;
    text-decoration: none;

    &:hover {
        text-shadow: 0 0 1px $primary-color;
    }
}

.header--button {
    position: absolute;
    border: 0px;
    outline: none;
    background-color: transparent;
    cursor: pointer;

    @media (min-width: 830px) {
        display: none;
    }
}

.header--menu-modal {
    position: absolute;
    top: 0;
    right: 0;
    width: 150px;
    padding-top: 40px;
    padding-left: 20px;
    padding-bottom: 20px;
    border-radius: 0px 0px 0px 5px;
    background-color: #fff;
    box-shadow: 0 4px 12px 0 #65676a1a;
    display: flex;
    flex-direction: column;

    @media (min-width: 830px) {
        display: none;
    }

    @media (max-width: 550px) {
        width: 100%;
    }
}

.header--close {
    position: absolute;
    top: 29px;
    right: 30px;
}

.header--modal-link {
    color: #111111;
    text-align: start;
    margin-top: 20px;
    cursor: pointer;

    &:hover {
        text-shadow: 0 0 1px $primary-color;
    }

    @media (max-width: 550px) {
        text-align: center;
    }
}

.header--modal-login {
    margin: auto;
    margin-top: 50px;
    text-align: center;
    border: 2px solid $secondary-color;
    border-radius: 5px;
    width: 100px;
    color: $secondary-color;
    font-weight: bolder;
    cursor: pointer;
}

.header--language {
    right: 80px;

    @media (max-width: 400px) {
        right: 40px;
    }
}

.header--modal-responsive {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    padding-top: 50px;
    top: 0;
    right: 0;
    width: 100%;
    box-shadow: 0 4px 12px 0 #65676a1a;

    @media (min-width: 830px) {
        display: none;
    }

    p {
        width: 106%;
        height: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        cursor: pointer;

        &:hover {
            background-color: #f5f5f5;
        }
    }
}
