.header--main {
    width: 100%;
    height: 90px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.header--title {
    font-size: 15px;
    text-transform: uppercase;
    color: $primary-color;
    font-weight: bolder;
}

.header--icon {
    width: 15px;
}

.header--button-language {
    width: 70px;
    margin: 5px auto;
    border: 0px;
    outline: 0px;
    height: 30px;
}

.header--display-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.header--display-left {
    display: flex;
    justify-content: flex-start;
}

.header--display-right {
    display: flex;
    justify-content: flex-end;
}

.header--nav {
    display: flex;
    flex-direction: row;
    gap: 5px;
    color: $primary-color;
}

.header--nav-group {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 70px;
    height: 20px;
    margin: 1px auto;
    border-radius: 10px;

    &:hover {
        background-color: $primary-color-deg;
        cursor: pointer;
        color: $background-color;
    }
}

.header--nav-link {
    font-size: 13px;
}

.header--button {
    color: white;
    border: 0px;
    outline: 0px;
    background-color: transparent;
    cursor: pointer;

    .header--icon {
        position: relative;
        animation: 1s levitate infinite;
    }
}
