.event--modal {
    position: absolute;
    min-width:40%;
    top:30vh;
    left:50%;
    transform: translate(-50%);
    padding:1rem;
    background-color:$background-color-deg;
    text-align: right;
    border-radius: 25px;
}

.event--modal ul {
    list-style: none;
}
.event--modal-info {
    display:grid;
    grid-auto-flow: dense;
    grid-template-columns: 2fr 5fr;
    text-align:left;
}
.event--modal button {
    cursor: pointer;
}
.event--modal-labels, .event--modal-values {
    display:flex;
    flex-direction: column;
}
.event--modal-list-items {
    min-height:4vh;
}
.event--modal-list-labels {
    grid-column:1/2;
}
.event--modal-list-values {
    grid-column:2/3;
}